@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Flex', sans-serif;
}

html{
	scroll-behavior: smooth;
}
/*:root{
	--primary-color: #000839;
	--primary-shades: #00020b;
	--para-color: #80849c;
	--helper-color: #1264fa;
	--white: #fff;

}*/
html{
	/*font-size: 62.5%;*/
	1rem=10px
}

a{
	text-decoration: none;
	display: inline-block;

}

a:hover{
	text-decoration: none;
}
/*
img{
	display: inline-block;
	width: 100%;

}*/

li{
	list-style: none;

}

h1,h2,h3,h4{
	color: var(--primary-color);
}

p{
	font-size: 0.9rem;
	line-height: 1.6;
	font-weight: 400;
	color: #606060;
}

.extra-div h2, .servicediv h2{
	font-size: .9rem;
	margin: 20px 0 15px 0;
	font-weight: bold;
	line-height: 1.1;
	word-spacing: 4px;

}

i{
	color: 
	#2fccd0;
}

/*style of header*/

.header{
	width: 100%;
	height: 100vh;
	background-image: url(../images/surface-rkr_jnaGzIk-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0% 75%,0 0%);
	position: relative;
	background-image: fixed;
}
.header:before{
	content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	opacity: .3;
	z-index: -1;
	background: linear-gradient(to right,#1e5799 0%, #3ccdbb 0%, #16c9f6 100%);

}

.navbar:before{
	content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	opacity: .3;
	z-index: -1;
	background: linear-gradient(to right,#1e5799 0%, #3ccdbb 0%, #16c9f6 100%);

}

.nav-item a{
	border-radius: 50px;
	color: #ffff;
	padding: 10px 20px!important;
}


.header-section{
	width: 100%;
	height: inherit;
	color: white;
	text-align: center;
	position: relative;
}
.center-div{
	width: 100%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
.header-button a{
	border: 1px solid white;
	border-radius: 100px;
	margin: 0 5px;
	padding: 12px 35px;
	outline: none;
	color: #fff;
	font-size: 1rem;
	line-height: 1.4;
	text-align: center;

}
.header-button a:hover{
	text-decoration: none ;
	color: #60d1c0;
	background-color: white;
}
.center-div p{
	font-size: 1.3rem;
	padding: 10px 0;
	color: white;

}


/*end 9of header*/


/*****************styling of extraddiv***************/

.header-extradiv{
	width: 100%;
	height: auto;
	margin: 70px 0;
	text-align: center;
}

.extra-div{
	background-color: #fff;
	border: medium none;
	padding: 50px!important;
	border-radius: 3px;
	transition: 0.3s;
}

.extra-div:hover{
	box-shadow: 0 0px 20px rgba(0, 0, 0, .5);
	transform: translatey(-20px);
}
/*****************styling of extraddiv end***************/

/************************* start styling of another section div***********************/

.serviceoffer{ 
	background-color: lightgrey;
	padding: 50px 0;
	margin-bottom: 50px;
}

.headings{
	margin-bottom: 50px;

}

.headings h1{
	font-size: 1.5rem;
	/*font-weight: 600;*/
	text-transform: uppercase;

}

.names h1{
	color: #2e2e2e;
	font-size: 0.9rem;
	text-transform: uppercase;
	font-weight: bold;
}

.service-icons{
	display: flex;
	align-items: center;
	justify-content: center;
}

.progress{
	height: .6rem!important;
	margin-bottom: 25px!important;
	background: grey;
}
/*********************end styling of another sectioin div***************************/


/*css for cards*/

.princing{
	width: 100%;
	height: auto;
	padding: 50px;
	position: relative;
	background-color: lightgrey;
}

.money{
	font-size: 40px;
	line-height: 1;
	color: #606060;
}

.card{
	transition: 0.4s ease;
}

.card-header{
	font-size: 1.6rem;
	font-weight: bold;
	background: white!important;
	padding: 15px 0!important;
}

.card-body{
	padding: 20px 0!important;

}

.card-body li{
	font-size: 15px;
	line-height: 1.6;
	font-weight: 400;
	margin: 1rem 0!important;
	color: #606060;
}
.card-footer{
	background: white!important;
	padding: 15px 0!important;
}

.card-footer a{
	border: 1px solid #60d1c0;
	border-radius: 100px;
	margin: 0 5px;
	padding: 12px 35px;
	outline: none;
	color: #50d1c0;
	font-size: 1rem;
	line-height: 1.4;
	text-align: center;

}
.card:hover .card-footer a{
	text-decoration: none ;
	color: white;
	background-color: #60d1c0;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
}

.card:hover{
	/*transform:scale(1)*/
	transform: translateY(-20px);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4); 

}

/*pratice*/
.font-style{
	text-align: left;
	margin-left: 6rem;
}
.font-check{
	padding: 2rem;
	color: black!important;
}
/*pratice*/
.card-second{
	transform: translateY(-20px); 

}

.card:hover .card-header, .card:hover .money{
 	color: #60d1c0;

}

/*
.princing: before{
	content: "";
	position: absolute;
	top: 0%; 
	bottom: 0%;
	left: 0%;
	right: 0%;
	opacity: .3;
	z-index: -1;
	background: linear-gradient(to left,#1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}
*/
/*css ends for cards*/


/*********css for anothersection**********/
.imagesection{
	width: 100%;
	height: auto;
	/*background-color: lightgrey;*/
	margin-top: 50px;
}

.imagesection img{
	width: 500px;
	height: 300px;
	border-radius: 10px;
}

.imagesection p{
	text-align: justify;
}
.imagesection button{
	padding: 10px 20px;
	color: #60d1c0;
	border: 1px solid #60d1c0;
	border-radius: 50px;
}
.imagesection button:hover{
	color: white;
	background-color: #60d1c0;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
}



/*********css for anothersection**********/


/********start css for form*********/
.contact{
	width: 100%;
	height: auto;
	/*background-color: lightgrey;*/
	padding: 50px 0;
}

.contact button{
	padding: 10px 20px;
	color: #60d1c0;
	border: 1px solid #60d1c0;
	border-radius: 50px;
	text-align: center;
}

.contact button:hover{
	color: white;
	background-color: #60d1c0;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
}

::placeholder{
	font-size: 13px;
}
/********start css for form*********/

/*form tag subscritions us css*/

.subscribe{
	width: 100%;
	height: auto;
	margin: 80px auto;
}
.new-input{
	border-radius: 100px 0px 0px 100px!important;
	min-height: 45px;
	min-width: 150px;
}

.input-group-text{
	border-radius: 0px 100px 100px 0px!important;
	color: #60d1c0;
	background-color: white;

}
.input-group-text:hover{
	background-color: #60d1c0;
	color: white;
	transition: .5s linear;
	cursor: pointer;
	box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.4);
 ;
}
/*end of subscription us css*/


.footersection{
	width: 100%;
	height: auto;
	background-color: lightskyblue;
	padding: 50px 0px 20px 0px;
	background-color: #00abff; 
	position: relative;
 }

 .footersection p{
 	color: white;

 }
.footersection li a{
	color: white;
	font-size: .9rem;
	line-height: 16px;
	font-weight: 400px;
}

.footersection h3{
	text-transform: uppercase;
	color: white;
	margin-bottom: 25px;
	font-size: 1.2rem!important;
	font-weight: bold;
	text-shadow: 0px 3px 7px rgba(0,0,0,0.4);
}

#myBtn{
	color: white;
	display: none;
	position: fixed;
	bottom: 20px;
	right: 40px;
	z-index: 999;
	border: none;
	background: #00abff;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
}
#myBtn:hover{
	background: #606060;
	cursor: pointer;
}


/*for responsive*/
@media(max-width:768px) {
  .nav-item{
  	text-align: center!important;
  }
  .princing, .contact{
  	height: auto;
  	margin-top: 50px;

  }
  .card-second{
  	transform: translateY(0px);
  	margin: 30px 0px ;
  }

  .contact p{
  	padding: 0px 50px;
  }

  .footersection,.footer-link{
  	text-align: left!important;
  }
}

/*end of responsinve*/
